*.pyc
tmp/*
.snakemake/*
data/*
src/Trimmomatic*
src/bmtagger/*
src/diamond*
src/ncbi*
src/picard.jar
src/samtools*
src/v0*
snake*
.idea/*
config.log
docs/*
output/*
benchmark/*
bitmasks/*
databases/*
indices/*
gene_normalization_files/*
gene_to_ortholog_maps/*
ortholog_to_grouping_maps/*